.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #ededed
}
.navbar {
  background-color: #0b4c86;
}
.row {
    text-align: center;

}
